
/* @font-face {
    font-family: 'rsFont'; 
    src: url('../fonts/rsChatFont.ttf') format('truetype'); 
  }
  
  .sapUiBody {
    font-family: 'rsFont', sans-serif !important; 
  } */

.home_shell {
    background-color: #6D4211;
}

.colorRunescapeHeader {
    background-color: #382418 !important;
}

.colorRunescapeHeader>h2 {
    color: #ffffff !important;
}
.home_filter{
    background-color :#382418!important;
    color: white !important;
}

.home_table{
    background-color: rgba(60, 39, 11, 0.87) !important;
}

.textColor {
    color: white !important;
}
.sapMListHdr {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .sapMListTblSubCntHdr > .sapMListTblSubCntSpr, .sapMListTblSubCntRow > .sapMListTblSubCntHdr .sapMText, .sapMListTblSubCntRow > .sapMListTblSubCntHdr .sapMLabel {
    color: white !important;
    padding-top: 0;
    display: inline;
  }

.sapMListTblSubRow {
    background: rgba(60, 39, 11, 0.87) !important;
}

.sapMIBar-CTX .sapMTitle {
    color: gold !important;
    text-shadow: none;
  }

.sapMIBar.sapMHeader-CTX {
    color: #1d2d3e;
    background-color: #382418 !important;
    filter: none;
    background-image: "";
}
.home_shell {
  background-color: #6D4211 !important;
}

.sapFDynamicPageTitle {
  z-index: 4;
  position: relative;
  min-height: 3rem;
  padding: 0.5rem 2rem 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #382418 !important;
    background-color: rgb(56, 36, 24);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

.sapUiCompFilterBar {
  background-color: #fff;
  border-bottom: none !important;
}

.osrsIcon {
    color: #1d2d3e;
    background-color: #382418 !important;
      display: flex;
    
    align-items: center;
}

html[data-sap-ui-browser^="ff"].sap-desktop .sapFDynamicPage.sapFDynamicPageWithScroll .sapFDynamicPageTitleWrapper, html[data-sap-ui-os^="win"][data-sap-ui-browser^="cr"].sap-desktop .sapFDynamicPage.sapFDynamicPageWithScroll .sapFDynamicPageTitleWrapper {
  right: 0px;
}

.sapMGrowingList {
    background-color: var(--sapList_Background);
    margin-bottom: 10%;
}