
/* @font-face {
    font-family: 'rsFont'; 
    src: url('../fonts/rsChatFont.ttf') format('truetype'); 
  }
  
  .sapUiBody {
    font-family: 'rsFont', sans-serif !important; 
  } */


.sapUiBody {
  background: transparent !important;
}

.colorRunescapeHeader {
    background-color: #382418 !important;
}

.colorRunescapeHeader>h2 {
    color: #ffffff !important;
}
.home_filter{
    background-color :#382418!important;
    color: white !important;
}

.home_table{
    background-color: rgba(60, 39, 11, 0.87) !important;
}

.textColor {
    color: white !important;
}
.sapMListHdr {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }

  .sapMListTblSubCntHdr > .sapMListTblSubCntSpr, .sapMListTblSubCntRow > .sapMListTblSubCntHdr .sapMText, .sapMListTblSubCntRow > .sapMListTblSubCntHdr .sapMLabel {
    color: white !important;
    padding-top: 0;
    display: inline;
  }

.sapMListTblSubRow {
    background: rgba(60, 39, 11, 0.87) !important;
}

.sapMIBar-CTX .sapMTitle {
    color: gold !important;
    text-shadow: none;
  }

.sapMIBar.sapMHeader-CTX {
    color: #1d2d3e;
    background-color: #382418 !important;
    filter: none;
    background-image: "";
}
.home_shell {
  
    height: 100%;
  margin: 0;
  background-image: url("../images/gebackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.osrsIcon {
    color: #1d2d3e;
    
      display: flex;
    align-items: center;
}


.sapUiGlobalBackgroundColor, .sapMShellGlobalInnerBackground {
  background-color: transparent !important;
}


/*QUESTA RENDE TRANSPARENT FILTERBAR*/
.sapFDynamicPageTitle {
  z-index: 3;
  position: relative;
  min-height: 3rem;
  padding: 0.5rem 2rem 0.5rem 3rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  box-sizing: border-box;
  background: transparent !important;
}

.sapFDynamicPage .sapFDynamicPageContentWrapperStandard > .sapFDynamicPageContent, .sapFDynamicPage .sapFDynamicPageContentWrapperSolid > .sapFDynamicPageContent {
  background: transparent !important;
}